
/*-----------------------------------*\
    #HEADER
  \*-----------------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f2;
  padding-block: 18px;
  z-index: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 140px);
  height: 1px;
  background-color: var(--white_10);
}

.header.active {
  background-color: var(--eerie-black-1);
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.8);
}

.header.active::after {
  display: none;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.lang-switch {
  background-color: #f2f2f2 !important; /* light gray bg */
  color: #222222 !important;            /* dark text */
  border: 1px solid #ccc !important;
  padding: 6px 12px !important;
  border-radius: 5px !important;
  cursor: pointer !important;

}

.lang-switch option {
  background-color: #f2f2f2 !important;
  color: #222222 !important;
}
.donation-btn {
  transition: opacity 0.5s ease, visibility 0.5s ease;
  opacity: 1;
  visibility: visible;
}

.nav-open-btn {
  color: black;
}

.nav-open-btn ion-icon {
  color: black;
}

/* Hide donation button on mobile */
@media (max-width: 1000px) {
  .donation-btn {
        opacity: 0;
    visibility: hidden;
  }
}
