.insta-post {
  padding: 2rem 0;
}

.insta-post-list {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  gap: 1rem;
  padding: 1rem;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.insta-post-list::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.insta-post-item {
  min-width: 300px;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
}

.insta-post-link {
  position: relative;
  background-color: var(--eerie-black-1);
  overflow: hidden;
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  max-width: 320px;
}

.img-cover {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: var(--transition-2);
  display: block;
  border-radius: 0.5rem;
}

.insta-post-link:hover .img-cover,
.insta-post-link:focus .img-cover {
  transform: scale(1.1);
  opacity: 0.5;
}

.insta-icon {
  color: var(--white);
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: var(--transition-2);
}

.insta-post-link:hover .insta-icon,
.insta-post-link:focus .insta-icon {
  opacity: 1;
}

@media (min-width: 768px) {
  .insta-post-list {
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: unset;
  }

  .insta-post-item {
    flex: 0 0 300px;
  }
}
